@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scrollbar-color: smooth;
  outline: none;
  border: none;
  transition: 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

body {
  background-color: #cb3838;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  padding: 3.5rem 5%;
}

.header {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.poke-search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
.poke-search input,
.poke-search .search-btn {
  padding: 1rem 5rem;
  border-radius: 3px;
  border: none;
  background-color: #fff;
}
.poke-search .search-btn {
  padding: 1rem 1rem;
  cursor: pointer;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  width: 100%;
}
.poke-container .poke-box {
  width: 30rem;
  border-radius: 1.5rem;
  min-height: 35rem;
  padding: 2rem;
  margin: 2rem;
}
.poke-container .poke-box img {
  margin: 10px 0;
  width: 80%;
  align-items: center;
}
.poke-container .poke-box h2 {
  font-size: 25px;
  margin: 1rem auto;
}
.poke-container .poke-box p {
  font-size: 15px;
}

.sprite {
  font: optional;
}

.footer {
  background-color: #1b1b1b;
  text-align: center;
  border-radius: 1.5rem;
  border: 0.2rem dashed #e94f4f;
}
.footer .search {
  display: flex;
  justify-content: center;
}
.footer .search .search-input {
  width: 20rem;
  height: 3rem;
  box-shadow: 0px 0px 17px -2px #fff;
  border-radius: 1.5rem;
}
.footer .search .btn {
  margin-top: 0;
  margin-left: 1rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 1rem;
  color: #fff;
  background-color: #cb3838;
  box-shadow: 0px 0px 17px -2px #cb3838;
}
.footer .footer-socials {
  padding-bottom: 2rem;
}
.footer .footer-socials a {
  width: 4.5rem;
  height: 4.5rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0px 0px 10px 2px #cb3838;
  transition: 0.001s;
  text-align: center;
}
.footer .footer-socials a:hover {
  transform: scale(1.2) rotate(360deg);
  transition: 0.8s;
}
.footer .credit {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  padding-top: 1.5rem;
}
.footer .credit a {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-shadow: 1px 1px #cb3838;
  display: inline-block;
}
.footer .credit a:hover {
  color: #cb3838;
  text-shadow: 1px 1px #fff;
  transform: scale(1.5);
  transition-delay: 0s;
}
.footer .credit p {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  padding-top: 1.5rem;
}
.footer:hover .credit a {
  transform: scale(1.2) rotate(360deg);
  transition: 0.5s;
}/*# sourceMappingURL=main.css.map */